* {
    box-sizing: border-box;
    font-family: "Raleway", Arial;
    margin: 0;
    padding: 0;
}

#logo_du_site {
    width: 61px;
    height: 19px;
    object-fit: cover;
}

body {
    min-width: 992px;
    max-width: 1440px;
    margin-left: 55px;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

nav ul {
    display: inline-flex;
    margin-right:50px ;
    list-style-type: none;
}

.menu {

    
    padding: 46px 17px 0 17px;

}

.menu a {
    padding: 46px 17px 0 17px;
}

a {
    text-decoration: none;
    color: black;
}

header a:hover {
    border-top: blue 3px solid;
    padding-top: 44px;
    color: blue;
}

.logo {
    padding-top: 44px;
}



main {
    margin-top: 63px;
}

h1 {
    font-size: 22px;
    margin-bottom: 8px;
}

main p {
    font-size: 16px;
}

form {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0 46px 0px;
    font-size: 18px;
}

form i {
    padding: 16px 18px 15px 18px;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;

}

#rechercher {
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    border-left: none;
    border-right: none;
    padding: 14px 0 14px 17px;
    font-weight: 700;

}

form ::placeholder {
    color: black;
    font-size: 18px;
}

#bouton_rechercher {
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    border: none;
    padding: 14px 16px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

#filtres {
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 0px 0px 50px 12px;

}

#filtres h2 {
    font-size: 18px;
}

#filtres h3 {
    font-size: 17px;
    padding-left: 10px;
}

.filtre {
    display: flex;
    align-items: center;
    padding: 14px 20px 14px 20px;
    border: #D9D9D9 2px solid;
    border-radius: 25px;
    margin-left: 52px;
    min-width: fit-content;
    cursor: pointer;
}

.filtre:hover {
    background-color: rgba(222, 235, 255, 1);
}

#filtres i {
    color: #0065FC;
    width: 22px;
}

#info_nb_de_logement {
    display: flex;
    align-items: center;
}

#info_nb_de_logement p {
    font-size: 16px;
    font-weight: 400;
    padding-left: 11px;
}

#info_nb_de_logement i {
    width: 24px;
    height: 24px;
    padding: 5px 0px 0px 9px;
    border: 1px #D9D9D9 solid;
    border-radius: 25px;
    font-size: 12px;
    color: #0065FC;
}

#les_chambres {
    display: flex;
}

/*
#hebergement_a_marseille {
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 560px;

}*/


.info_hebergements_a_marseille {
    padding: 0px 16px 11px 16px;
}

.info_hebergements_a_marseille h3 {
    margin-bottom: 5px;
}

.hebergements_a_marseille_card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: #FFFFFF 5px solid;
    object-fit: cover;
}

.hebergements_a_marseille_container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 30px;
    margin-top: 23px;
    margin-bottom: 40px;
    max-width: 100%;
}

.afficher_plus {
    margin-left: 4px;
    font-size: 18px;
    font-weight: 700;
}



#hebergements_a_marseille {
    margin-top: 30px;
    margin-right: 40px;
    padding: 42px 40px 46px 40px;
    border-radius: 20px;
    background-color: #F2F2F2;
}

#hebergements_a_marseille h2 {
    font-size: 22px;
    font-weight: 700;
}

#hebergements_a_marseille h3 {
    font-size: 16px;
    font-weight: 700;
}

#hebergements_a_marseille p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom:7px;
}

.hebergements_a_marseille_card {
    background-color: #FFFFFF;
    border-radius: 20px;
    min-width: max-content;
    box-shadow: 1px 1px 12px #D9D9D9;

}

.hebergements_a_marseille_card:hover {
    box-shadow: 1px 4px 24px #D9D9D9;
}

#les_plus_populaires {
    margin-top: 30px;
    margin-right: 50px;
    padding: 41px 40px 0px 37px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.info_les_plus_populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.les_plus_populaires_card {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 1px 1px 12px #D9D9D9;
}

.les_plus_populaires_card:hover {
    box-shadow: 1px 4px 24px #D9D9D9;
}

.les_plus_populaires_card img {
    width: 100%;
    max-width: 137px;
    height: 144px;
    border: #FFFFFF 5px solid;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.les_plus_populaires_icone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 28px;
}

.les_plus_populaires_icone i {
    color: #0065FC;
}

.les_plus_populaires_card a {
    display: flex;
}

.etoile {
    width: 12px;
    height: 12px;
}
.info_les_plus_populaires .etoiles {
    margin:0px 0px 12px 15px;
}
.info_les_plus_populaires .texte_les_plus_populaires {
    margin: 16px 22px 0px 15px;
}
.les_plus_populaires_icone h2 {
    font-size: 22px;
    font-weight: 700;
}

.info_les_plus_populaires h3 {
    font-size: 16px;
    font-weight: 700;
    width: 169px;
    margin-bottom: 7px;
}

.info_les_plus_populaires p {
    font-size: 14px;
    font-weight: 400;
}
.les_plus_populaires_container {
    min-width: max-content;
}
.les_plus_populaires_container article {
    margin-bottom: 33px;
}

#activites h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 60px 0 18px 0;
}

#activites h3 {
    font-size: 16px;
    font-weight: 700;
}

.activites_card {
    border-radius: 20px;
    box-shadow: 1px 1px 12px #D9D9D9;
    margin-bottom: 61px;
}

.activites_card:hover {
    box-shadow: 1px 4px 24px #D9D9D9;
}

.activites_card_container {
    display: grid;
    grid-template-columns: 21.25% 21.25% 21.25% 21.25%;
    gap: 5%;
    margin-right: 55px;
}

.activites_card img {
    width: 100%;
    height: 389px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    background-color: #0065FC;
}

.activites_card h3 {
    padding: 20px 21px 19px;
    border-radius: 0 0 20px 20px;

}

footer {
    background-color: #F2F2F2;
    display: flex;
    padding-bottom: 58px;
    padding-right: 327px;
    justify-content: space-between;
    margin-right: 53px;
}

footer ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-content: center;
    margin-left: 70px;

}

footer h2 {

    font-size: 18px;
    font-weight: 700;
}

footer li {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
}

.footer_info h2 {
    margin: 45px 0 20px 70px;
}

.bleue {
    color: #0065FC;
}

.grise {
    color: #F2F2F2;
}

.euro {
    font-weight: 600;
}