* {
    max-width: 1400px;
    box-sizing: border-box;
    font-family: "Raleway";
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
}
.menu {
    margin-right: 77px;
    margin-top: 48px;
    padding-left: 67px;    
}

.logo {
  padding-top: 44px;
  padding-left: 55px;
}

header a:hover {
    border-top: blue 2px solid;
}

.bleue {
    color: blue;
}

.grise {
    color: grey
}