* {
    box-sizing: border-box;
    font-family: "Raleway", Arial;
    margin: 0;
    padding: 0;
}


body {
    max-width: 1400px;
    margin: 0 auto;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-left: 50px;
}

#logo_du_site {
    width: 61px;
    height: 19px;
    object-fit: cover;
}

.logo {
    padding-top: 44px;
}

nav ul {
    display: inline-flex;
    margin-right: 50px;
    list-style-type: none;
}

.menu {
    padding: 46px 17px 0 17px;
}

.menu a {
    padding: 46px 17px 0 17px;
}

a {
    text-decoration: none;
    color: black;
}

header a:hover {
    border-top: blue 2px solid;
    padding-top: 44px;
    color: blue;
}




main {
    margin-top: 63px;
    margin-left: 50px;
}

h1 {
    font-size: 22px;
    margin-bottom: 8px;
}

main p {
    font-size: 16px;
}




form {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0 46px 0px;
    font-size: 18px;
    margin-left: 50px;
}

form i {
    padding: 16px 18px 15px 18px;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
}

#rechercher {
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    border-left: none;
    border-right: none;
    padding: 14px 70px 14px 17px;
    font-weight: 700;
}

form ::placeholder {
    color: black;
    font-size: 18px;
}

#bouton_rechercher {
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    border: none;
    padding: 14px 16px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

#logo_rechercher {
    display: none;
}




#filtres {
    display: flex;
    align-items: center;
    font-weight: 700;
    padding-bottom: 50px;
    margin-left: 50px;
}

#filtres h2 {
    font-size: 18px;
    margin-right: 15px;
}

#filtres h3 {
    font-size: 17px;
    padding-left: 10px;
}

.filtre {
    display: flex;
    align-items: center;
    padding: 14px 12px 14px 12px;
    border: #D9D9D9 2px solid;
    border-radius: 25px;
    margin-right: 30px;
    cursor: pointer;
}

.filtre:hover {
    background-color: rgba(222, 235, 255, 1);
}

#filtres i {
    color: #0065FC;
    width: 22px;
}

.filtre_container {
    display: flex;
    flex-direction: row;
    min-width: fit-content;
}




#info_nb_de_logement {
    display: flex;
    align-items: center;
    margin-left: 59px;
}

#info_nb_de_logement p {
    font-size: 16px;
    font-weight: 400;
    padding-left: 11px;
}

#info_nb_de_logement i {
    width: 24px;
    height: 24px;
    padding: 5px 0px 0px 8px;
    border: 1px #D9D9D9 solid;
    border-radius: 25px;
    font-size: 12px;
    color: #0065FC;
}




#les_chambres {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}


.info_hebergements_a_marseille {
    padding: 0px 16px 11px 16px;
}

.info_hebergements_a_marseille h3 {
    margin-bottom: 5px;
}

.hebergements_a_marseille_card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: #FFFFFF 5px solid;
    object-fit: cover;
}

.hebergements_a_marseille_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    margin-top: 23px;
    margin-bottom: 7%;
    max-width: 100%;
}

.afficher_plus {
    margin-left: 4px;
    font-size: 18px;
    font-weight: 700;
}



#hebergements_a_marseille {
    margin-top: 30px;
    margin-right: 2%;
    padding: 42px 2% 46px 2%;
    border-radius: 20px;
    background-color: #F2F2F2;
    min-width: 65%;
}

#hebergements_a_marseille h2 {
    font-size: 22px;
    font-weight: 700;
}

#hebergements_a_marseille h3 {
    font-size: 16px;
    font-weight: 700;
}

#hebergements_a_marseille p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 7px;
}

.hebergements_a_marseille_card {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 1px 1px 12px #D9D9D9;
}

.hebergements_a_marseille_card:hover {
    box-shadow: 1px 4px 24px #D9D9D9;
}




#les_plus_populaires {
    margin-top: 30px;
    padding: 41px 2% 0px 2%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.info_les_plus_populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.les_plus_populaires_card {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 1px 1px 12px #D9D9D9;
}

.les_plus_populaires_card:hover {
    box-shadow: 1px 4px 24px #D9D9D9;
}

.les_plus_populaires_card img {
    width: 100%;
    max-width: 40%;
    height: 144px;
    border: #FFFFFF 5px solid;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.les_plus_populaires_icone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 28px;
}

.les_plus_populaires_icone i {
    color: #0065FC;
}

.les_plus_populaires_card a {
    display: flex;
}

.etoile {
    width: 12px;
    height: 12px;
}

.info_les_plus_populaires .etoiles {
    margin: 0px 0px 12px 15px;
}

.info_les_plus_populaires .texte_les_plus_populaires {
    margin: 16px 22px 0px 15px;
}

.les_plus_populaires_icone h2 {
    font-size: 22px;
    font-weight: 700;
}

.info_les_plus_populaires h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px;
}

.info_les_plus_populaires p {
    font-size: 14px;
    font-weight: 400;
}

.les_plus_populaires_container article {
    margin-bottom: 33px;
}




#activites {
    margin-left: 50px;
}

#activites h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 60px 0 18px 0;
}

#activites h3 {
    font-size: 16px;
    font-weight: 700;
}

.activites_card {
    border-radius: 20px;
    box-shadow: 1px 1px 12px #D9D9D9;
    margin-bottom: 61px;
}

.activites_card:hover {
    box-shadow: 1px 4px 24px #D9D9D9;
}

.activites_card_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    margin-right: 55px;
}

.activites_card img {
    width: 100%;
    height: 389px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    background-color: #0065FC;
}

.activites_card h3 {
    padding: 20px 21px 19px;
    border-radius: 0 0 20px 20px;

}




footer {
    background-color: #F2F2F2;
    display: flex;
    padding-bottom: 58px;
    padding-left: 70px;
    padding-top: 45px;

    justify-content: space-between;
    margin-right: 53px;
    margin-left: 50px;
}

footer ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-content: center;
}

footer h2 {

    font-size: 18px;
    font-weight: 700;
}

footer li {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
}

.footer_info {
    width: 100%;
}

.footer_info h2 {
    margin-bottom: 20px;
}

.bleue {
    color: #0065FC;
}

.grise {
    color: #F2F2F2;
}

.euro {
    font-weight: 600;
}




@media screen and (min-width: 768px) and (max-width: 991px) {
    #les_chambres {
        flex-direction: column;
    }

    #rechercher {
        padding-right: 85px;
        padding-left: 30px;
    }

    #filtres {
        max-width: 86%;
    }

    #filtres h3 {
        padding-left: 0;
    }

    .filtre {
        margin-right: 10px;
    }

    #hebergements_a_marseille {
        margin-right: 0;
    }

    #les_plus_populaires {
        margin-right: 0;
    }

    .les_plus_populaires_container {
        display: flex;
        min-width: 0;
        justify-content: space-between;
    }

    .les_plus_populaires_container article {
        max-width: 32%;
    }

    .les_plus_populaires_card img {

        max-width: 40%;
    }

    .info_les_plus_populaires .texte_les_plus_populaires {
        margin-top: 12px;
        margin-left: 10px;
        margin-right: 0;
    }

    #activites {
        margin-left: 50px;
    }


    .activites_card img {
        height: 211px;
    }

    footer {
        padding-left: 50px;
        padding-right: 50px;
    }
}


@media screen and (max-width: 767px) {

    header {
        flex-direction: column;
        margin: 0;
    }

    #logo_du_site {
        height: 25px;
        width: auto;
    }

    header a {
        width: 50%;
    }

    header a:hover {
        border-top: none;
    }

    nav ul {
        margin-right: 0;
        width: 100%;
        justify-content: space-evenly;

    }

    nav li {
        border-bottom: #F2F2F2 3px solid;
    }

    nav li:hover {
        border-bottom: blue 3px solid;
        color: blue;
    }

    nav {
        width: 100%;
    }

    .menu {
        padding: 46px 0 23px 0;
        min-width: 50%;
        text-align: center;
    }

    .menu a {
        padding-bottom: 23px;

    }

    main {
        margin-top: 30px;
        margin-left: 20px;
    }

    form {
        margin-right: 20px;
        margin-left: 20px;
        max-width: 500px;
    }

    #rechercher {
        width: 100%;
        padding-right: 0;
        padding-left: 30px;
    }

    #logo_rechercher {
        display: block;
        border-radius: 0 15px 15px 0;
        padding: 16px;
        border: none;
        background-color: #0065FC;
        font-size: 18px;
        color: white;
    }

    #bouton_rechercher {
        display: none;
    }

    #filtres {
        flex-wrap: wrap;
        margin-left: 20px;
    }

    .filtre_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin-right: 20px;
        gap: 14px;
    }

    .filtre {
        margin-right: 0;
        min-width: 47%;
    }

    #filtres h2 {
        margin-bottom: 15px;
        margin-right: 100%;
    }

    #filtres h3 {
        font-size: 11px;
        padding-left: 5px;
    }

    #filtres i {
        font-size: 22px;
    }

    #info_nb_de_logement {
        margin-left: 20px;
    }

    #les_chambres {
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
    }

    #hebergements_a_marseille {
        margin-right: 0;
        padding: 19px 20px 12px 20px;
        margin-top: 0;
        background-color: white;
    }

    .hebergements_a_marseille_container {
        grid-template-columns: 100%;
        gap: 12px;
    }

    .afficher_plus {
        display: none;
    }

    #les_plus_populaires {
        margin-right: 0;
        border-radius: 0;
        padding: 28px 20px 47px 20px;
    }

    .les_plus_populaires_container article {
        margin-bottom: 11px;
    }

    .les_plus_populaires_card img {
        height: 144px;
        max-width: 40%;
    }

    #activites {
        margin-left: 20px;
        margin-bottom: 80px;
    }

    #activites h2 {
        max-width: 150px;
        margin-bottom: 0px;
    }

    .activites_card_container {
        grid-template-columns: 100%;
        gap: 0;
        margin-right: 20px;
    }

    .activites_card {
        margin-bottom: 24px;
    }

    .activites_card img {
        height: 134px;
    }

    footer {
        flex-direction: column;
        margin: 0;
    }
}


/**Mode tablette section filtres,
   Mode smartphone header+finition section filtres**/